In [2]:
from sqlalchemy import create_engine
import pandas as pd
pd.options.display.max_rows= 200
#pd.set_option('display.max_rows', None)
pd.set_option("display.max_columns", None)

In [3]:
engine = create_engine('postgresql://username:password@host:port_number/db_name')

In [ ]:
tables = """ SELECT * FROM information_schema.tables WHERE table_schema = 'schema_name' ORDER BY table_name  """
df = pd.read_sql(tables, engine)
df

In [5]:
query = """ SELECT * FROM dbo.crf_customer"""
crf_df = pd.read_sql(query, engine)

query2 = """ SELECT * FROM dbo.tr_locations """
location_df = pd.read_sql(query2, engine)

In [7]:
crf_df[['city','town','district']][crf_df['city'].notnull()].head()

         city       town         district
1719  Antalya  Muratpaşa  Demircikara Mh.
1752    Muğla   Marmaris       Çıldır Mh.
1753    İzmir      Çiğli     Balatçık Mh.
1756   Ankara    Çankaya         Koru Mh.
1757   Ankara    Çankaya  Mürsel Uluç Mh.

In [9]:
# lower can be problematic in turkish characters lowering, 'I' should be replacing manually as below
# crf_df["concat"] = crf_df.IL.str.replace('I', 'ı', regex=True).str.lower() + '|' + crf_df.ILCE.str.replace('I', 'ı', regex=True).str.lower() + '|' + crf_df.MAHALLE.str.replace('I', 'ı', regex=True).str.replace(' KÖYÜ| KÖY| KOY| MAH.| MH.| MAHALLESİ', '', regex=True).str.lower()

# we used upper(), is better for match because lower() can change the lenght and it may not be matched
crf_df["concat"] = crf_df.city.str.upper() + '|' + crf_df.town.str.upper() + '|' +                                           \
                   crf_df.district.str.replace(' Köyü| Köy| Koy| Mah.| Mh.| Mahallesi', '', regex=True).str.upper()

In [8]:
location_df["concat"] = location_df.il.str.upper() + '|' + location_df.ilce.str.upper() + '|' +                             \
                        location_df.mahalle.str.replace(' Köyü| Köy| Koy| Mah.| Mh.| Mahallesi', '', regex=True).str.upper()

In [16]:
# drop the null city-town rows
crf_df = crf_df.dropna(subset=['city','town'])

In [18]:
def char_updater(inputstr):
    old =  ['İ', 'Ş', 'Ö', 'Ü', 'Ğ', 'Ç', 'Ý', 'Þ', 'Ð']
    new =  ['I', 'S', 'O', 'U', 'G', 'C', 'I', 'S', 'G']
    for i in range(len(old)):
        sub_o = old[i]
        sub_n = new[i]
        if sub_o in inputstr:
            inputstr = inputstr.replace(sub_o,sub_n)
    return inputstr

In [21]:
#replacing the turkish characters
crf_df = crf_df.astype({"concat": str})
location_df = location_df.astype({"concat": str})

crf_df['concat'] = crf_df['concat'].apply(char_updater)
location_df['concat'] = location_df['concat'].apply(char_updater)

In [22]:
#creating dict and mapping the mahalle_id
mapping = dict(location_df[['concat', 'mahalle_id']].values)
crf_df['mahalle_id'] = crf_df['concat'].map(mapping)

In [23]:
crf_df['concat'][crf_df.mahalle_id.isnull()].count()

41492

In [24]:
from thefuzz import fuzz
from thefuzz import process

/home/artibir_user/env/lib/python3.6/site-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [25]:
#see an example with matching percentage
choices = location_df.concat.tolist()
sonuc = process.extract("zonguldak merkez yeşil mah.", choices, limit=1)
sonuc

[('ZONGULDAK|MERKEZ|YESIL', 88)]

In [ ]:
# creating _dict and update it by using fuzzy matching for null(unmatched) mahalle_id values

import time
import tqdm

_dict = {}
for i in tqdm.tqdm(crf_df['concat'][crf_df.mahalle_id.isnull()].unique()):  # For each record that unmatched mahalle_id before
    try:
        concat = i                                                                             
        city = i.split('|')[0]          # seperate the city from the each 'concat' column from the crf_df
        matched = process.extract(concat, [k for k in choices if city in k], limit=1)  # filtering choices contains related city
        mahalle_id = location_df[ location_df['concat'] == matched[0][0] ]['mahalle_id'].tolist()[0] # Take the value of matched
        _dict.update({concat:mahalle_id})     
        print(concat, mahalle_id)
    except Exception as ex:
        print(ex)

In [28]:
matched_df   = crf_df[~crf_df['mahalle_id'].isnull()]    # '~'' is used for reverse logic

In [29]:
unmatched_df = crf_df[crf_df['mahalle_id'].isnull()]

In [30]:
# reset the index before applying the function
unmatched_df = unmatched_df.reset_index(drop=True)
concat_list = unmatched_df['concat'].tolist()
other_location_df = location_df[['concat','mahalle_id']]

In [31]:
# for loop to find the unmatched_df mahalle_id from the fuzzy _dict

import time
import tqdm

updated_mahalle_id = []
for i in tqdm.tqdm(range(len(unmatched_df))):  
    try:
        final_mahalle = concat_list[i]
        mahalle_id = _dict[final_mahalle]           # it will look the value from the _dict   
        updated_mahalle_id.append(mahalle_id)
    except:
        updated_mahalle_id.append(-1)
unmatched_df['mahalle_id'] = updated_mahalle_id

100%|██████████| 41492/41492 [00:00<00:00, 1289321.68it/s]

In [33]:
crf_df_final = pd.concat([matched_df,unmatched_df])

In [34]:
bad = len(crf_df_final[crf_df_final['mahalle_id']==-1])
good =len(crf_df_final[crf_df_final['mahalle_id']!=-1])
total =len(crf_df_final['mahalle_id'])
print(bad,good, f'{(good / total):.6f}')

18 791005 0.999977

In [35]:
# merge the crf_df and location_df to check the matched mahalle_id are really true by testing city-town names
merged_df = pd.merge(crf_df_final, location_df, how='left', left_on = 'mahalle_id', right_on = 'mahalle_id')

In [36]:
merged_df["city_town"] = merged_df.city.str.upper() + '|' + merged_df.town.str.upper()
merged_df["il_ilce"] = merged_df.il.str.upper() + '|' + merged_df.ilce.str.upper()

In [37]:
merged_df = merged_df.astype({"city_town": str, "il_ilce": str})

merged_df['city_town'] = merged_df['city_town'].apply(char_updater)
merged_df['il_ilce'] = merged_df['il_ilce'].apply(char_updater)

In [ ]:
# Check the accuracy of matching
import numpy as np

merged_df['mahalle_id2'] = np.where( merged_df['city_town'] == merged_df['il_ilce'], merged_df['mahalle_id'], int(-1) )
  
merged_df[['city','town','district','il','ilce','mahalle','mahalle_id','mahalle_id2']][merged_df['mahalle_id2']== -1]

In [ ]:
final_df = merged_df.drop(['concat_x','mahalle_id','il','ilce','mahalle','il_id','concat_y','city_town','il_ilce'],axis=1)
final_df.rename(columns = {'mahalle_id2':'mahalle_id'}, inplace = True)
final_df.head(2)

In [40]:
bad = len(final_df[final_df['mahalle_id']==-1])
good =len(final_df[final_df['mahalle_id']!=-1])
total =len(final_df['mahalle_id'])
print(bad,good, f'{(good / total):.6f}')

6588 784435 0.991672

In [ ]:
# Insert whole DataFrame into PostgreSQL
final_df.to_sql('cfs_customer_matched',schema = 'dbo' ,con=engine, if_exists='replace', index=False, chunksize = 1000)

In [ ]:
add_column = """  ALTER TABLE dbo.cfs_customer 
                  ADD IF NOT EXISTS mahalle_id int
             """
engine.execute(add_column)

In [ ]:
update_mahalle = """ UPDATE  dbo.cfs_customer cfs
                     SET mahalle_id = cfsm.mahalle_id
                     FROM dbo.cfs_customer_matched cfsm
                     WHERE cfs.mobilephone = cfsm.mobilephone
                 """
engine.execute(update_mahalle)

In [ ]:
update_nulls = """  UPDATE  dbo.cfs_customer 
                    SET mahalle_id = NULL
                    WHERE mahalle_id = -1
               """
engine.execute(update_nulls)

In [41]:
count_null = """ SELECT COUNT(*)
                 FROM dbo.cfs_customer 
                 WHERE city is null or town is null or district is null
             """
df = pd.read_sql(count_null, engine)
df

     count
0  4200601

In [43]:
count_matched = """ SELECT COUNT(*)
                    FROM dbo.cfs_customer t
                    WHERE mahalle_id is not null
                """
df = pd.read_sql(count_matched, engine)
df

    count
0  784423

In [ ]:
drop_table = """ DROP TABLE dbo.cfs_customer_matched   """

engine.execute(drop_table)