In [ ]:
!pip install verticapy

In [9]:
from sqlalchemy import create_engine
import io
import vertica_python
import pandas as pd
pd.options.display.max_rows= 200
pd.set_option("display.max_columns", None)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
postgredb_engine = create_engine('postgresql://username:password@host_ip:port_number/dbname')

In [91]:
query = """ SELECT * FROM external.exchange_rate  """
df = pd.read_sql(query, postgredb_engine)
df.head()

   currency_id  buying  selling  unit        date
0           31     8.0      8.0     1  2020-12-03
1            2     6.0      6.0     1  2020-12-03
2            9     1.0      1.0     1  2020-12-03
3           11    10.0     10.0     1  2020-12-03
4           14    11.0     11.0     1  2020-12-03

In [92]:
df.count()

currency_id    92681
buying         92681
selling        87285
unit           92681
date           92681
dtype: int64

In [93]:
conn_info = {'host': "host_ip",
             'port': "port_number",
             'user': "username",
             'password': "",
             'database': "dbname",
             'unicode_error': 'strict'
             }

connection = vertica_python.connect(**conn_info)

In [94]:
# before inserting, table should be created in vertica
# be careful that if the column has spaces, the script can give error. Then create the destination table columns without spaces and also defÄ±ne the columns manually here

cols = df.columns.tolist()
cols = '(%s)' % ', '.join(map(str, cols))
insert_text = " COPY external.exchange_rate2 {} FROM STDIN DELIMITER ',' ".format(cols)
#insert_text = " COPY external.exchange_rate2 (currency_id,buying,selling,unit,date) FROM STDIN DELIMITER ',' "

stream = io.StringIO()
df.to_csv(stream, sep=",", index=False, header=False)

stream.seek(0)

cur = connection.cursor('dict')
cur.copy(insert_text,stream.getvalue())

In [95]:
# Read as Pandas DF from VerticaDB
# if the output is empty then some column should have different data type in vertica

query = """ SELECT * FROM external.exchange_rate2 """
pandas_df = pd.read_sql(query, connection)
pandas_df.head()

   currency_id   buying  selling  unit        date
0            1  39611.0  39802.0     1  2000-02-02
1            1  39645.0  39836.0     1  2000-02-01
2            1  39655.0  39846.0     1  2000-01-03
3            1  39725.0  39917.0     1  2000-02-03
4            1  39760.0  39952.0     1  2000-01-31